{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <a href="/books"><h2>{{ book.name }}</h2></a>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date | date:'Y-m-d' }}</p>
            </div>
            {% endfor %}

        </div>
            <div class="header">
                {% if previous_page %}
                    <a href="/books/{{ previous_page }}/"> < {{ previous_page }}  </a>
                {% endif %}
                {% if next_page %}
                    <a href="/books/{{ next_page }}/">  {{ next_page }} > </a>
                {% endif %}
            </div>
    </div>
{% endblock %}